spring:
  datasource:
    url: jdbc:postgresql://dpg-d4jio7er433s739e7e1g-a.oregon-postgres.render.com:5432/tag_word?sslmode=require
    username: tag_word_user
    password: rutIxJ7L3bNnYuLf6tPneOdoZ3EfLuPB
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      indent_output: false

server:
  port: ${PORT:8080}
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: Tag API
        url: /v3/api-docs
